<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/html_meta.ejs') %>
    <title>首页</title>
</head>
<body>
    <%= require('html-loader!./layout/html_top.ejs') %>
    
    <!-- Code S -->

	<div class="all">
		<div class="index-top">
			<div class="index-m_top">
				<img src="<%= require('../assets/images/index-m_logo.png') %>" alt="">
				<div class="flex"></div>
				<a href="">
					<div class="iconfont icon-xiuggaihoude-close-copy index-m_top-icon">&#xe612;</div>
				</a>
			</div>
			<div class="index-top-back">
				<div class="index-logo-navigation">
					<div class="index-logo-box">
						<img src="<%= require('../assets/images/index-logo.png') %>" alt="">
					</div>
					<div class="index-navigation-box">
						<div class="index-navigation-box-flex"></div>
						<div class="index-navigation">
							<a href="">首頁</a>
							<a href="">關於公司</a>
							<a href="">新聞動態</a>
							<a href="">公司產品</a>
							<a href="">人才招聘</a>
							<a href="">招商加盟</a>
							<a href="">簡體/EN</a>
							<button>登錄</button>
						</div>
					</div>
				</div>
				<div class="index-top-star">
					<p class="index-top-star-p1">開始你的網絡營銷</p>
					<p class="index-top-star-p1">lnspo解決方案</p>
					<div class="index-top-star-button">
						<button>開始</button>
						<a href="">開始新項目</a>
					</div>
				</div>
				<img src="<%= require('../assets/images/index-1.png') %>" alt="">
			</div>
		</div>
		<div class="index-intermediate">
			<div class="index-intermediate-title">
				<p>我們為您提供</p>
			</div>
			<div class="index-intermediate-provide">
				<div class="index-provide-box">
					<div class="iconfont icon-xiuggaihoude-close-copy index-provide-icon">&#xe612;</div>
					<p class="index-provide-p1">方案策劃</p>
					<p class="index-provide-p2">Program planning</p>
				</div>
				<div class="index-provide-box">
					<div class="iconfont icon-xiuggaihoude-close-copy index-provide-icon">&#xe669;</div>
					<p class="index-provide-p1">網絡基礎搭建</p>
					<p class="index-provide-p2">Networks basic</p>
				</div>
				<div class="index-provide-box">
					<div class="iconfont icon-xiuggaihoude-close-copy index-provide-icon">&#xe60a;</div>
					<!-- <p class="index-provide-p1">口碑營銷<br>品牌傳播</p> -->
					<p class="index-provide-p1">品牌傳播</p>
					<p class="index-provide-p2">Brand communication</p>
				</div>
				<div class="index-provide-box">
					<div class="iconfont icon-xiuggaihoude-close-copy index-provide-icon">&#xe600;</div>
					<p class="index-provide-p1">信息鋪墊</p>
					<p class="index-provide-p2">Information bedding</p>
				</div>
				<div class="index-provide-box">
					<div class="iconfont icon-xiuggaihoude-close-copy index-provide-icon">&#xe635;</div>
					<p class="index-provide-p1">效果營銷</p>
					<p class="index-provide-p2">Effrct marketing</p>
				</div>
			</div>
			<div class="index-intermediate-wedo">
				<div class="index-wedo-left">
					<img src="<%= require('../assets/images/index-2.png') %>" alt="">
					<div class="index-wedo-left-p">
						<p>01</p>
						<p>市場研究</p>
					</div>
					<img src="<%= require('../assets/images/index-2.png') %>" alt="">
					<div class="index-wedo-left-p">
						<p>02</p>
						<p>媒體傳播</p>
					</div>
					<img src="<%= require('../assets/images/index-2.png') %>" alt="">
					<div class="index-wedo-left-p">
						<p>03</p>
						<p>郵件營銷</p>
					</div>
					<img src="<%= require('../assets/images/index-2.png') %>" alt="">
					<div class="index-wedo-left-p">
						<p>04</p>
						<p>整合營銷</p>
					</div>
					<img src="<%= require('../assets/images/index-2.png') %>" alt="">
					<div class="index-wedo-left-p">
						<p>05</p>
						<p>解決方案</p>
					</div>
				</div>
				<div class="index-wedo-right">
					<p class="index-wedo-right-p1">我們所做的</p>
					<p class="index-wedo-right-p2">專業的營銷解決方案</p>
					<p class="index-wedo-right-p3">十年專注于網絡營銷服務，從前期策劃到運營落實到匯報維護。10年經營，150人團隊，三大部分。</p>
					<p class="index-wedo-right-p4">8000多家資源，3000多家平台，數萬論壇博客，覆蓋數萬論壇博客全網主要廣告平台可以投放。</p>
				</div>
			</div>
			<div class="index-video-allbox">
				<div class="index-video-left">
					<p class="index-video-p1">對我們的了解</p>
					<p class="index-video-p2">為了你的成功<br>我們讓它變得完美</p>
					<div class="index-video-icon">
						<p class="index-video-p3">提供完美的解決方案</p>
						<div class="iconfont icon-xiuggaihoude-close-copy index-video-icon-1">&#xe62c;</div>
					</div>
					<p class="index-video-p4">人人是網民，網絡是我們生活的一部分，網絡與我們的生活，與企業的商務，息息相關！而且無處不在，無所不能！</p>
					<div class="index-video-icon">
						<p class="index-video-p3">讓它棒極了</p>
						<div class="iconfont icon-xiuggaihoude-close-copy index-video-icon-1">&#xe66d;</div>
					</div>
					<p class="index-video-p4">網絡營銷是個複雜系統的工程，</p>
					<p class="index-video-p4">如果不夠專業，</p>
					<p class="index-video-p4">做不好網絡營銷這塊，</p>
					<p class="index-video-p4">不是隨便招聘一些人就能做好這塊的。</p>
					<p class="index-video-p4">網絡營銷是長期的，系統的。</p>
					<p class="index-video-p4">要花費大量的時間和精力。</p>
					<p class="index-video-p4">術業有專攻，專業的事情給專業的人去做，</p>
					<p class="index-video-p4">自己時間花在自己的產品上。</p>
				</div>
				<div class="index-video-right">
					<a href="" class="index-video-get">
						<p>得到解決方案</p>
						<div class="iconfont icon-xiuggaihoude-close-copy index-video-icon-2">&#xe739;</div>
					</a>
					<div class="index-video-box">
						<video src=""></video>
					</div>
				</div>
			</div>
			<div class="index-aboutme">
				<p>關於我們</p>
				<p>我們提供一站式網絡營銷解決方案！</p>
				<p>專業的人，做專業的事情。網絡營銷方面的事情，我們來解決。</p>
				<p>你只要提出，網絡營銷方面的問題。</p>
				<p>網絡營銷顧問，一對一服務。</p>
			</div>
			<div class="index-aboutme-content">
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe603;</div>
					</div>
					<p>內容營銷</p>
					<p>打造優質內容，幫助您深化品牌影響力，取得營銷成果。</p>
				</div>
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe6b6;</div>
					</div>
					<p>郵件營銷</p>
					<p>電子郵件推送服務，讓您的營銷更加便捷。</p>
				</div>
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe62b;</div>
					</div>
					<p>市場分析</p>
					<p>專業的市場調查分析，幫助您把握趨勢。</p>
				</div>
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe62c;</div>
					</div>
					<p>方案策劃</p>
					<p>為您提供解決方案，創意策劃。</p>
				</div>
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe635;</div>
					</div>
					<p>效果營銷</p>
					<p>一系列效果廣告，全面落實到效果上。</p>
				</div>
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe60e;</div>
					</div>
					<p>市場研究</p>
					<p>深入了解市場，并有專業團隊針對性研究策劃。</p>
				</div>
			</div>
			<!-- <div class="index-aboutme-content">
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe62c;</div>
					</div>
					<p>方案策劃</p>
					<p>為您提供解決方案，創意策劃。</p>
				</div>
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe635;</div>
					</div>
					<p>效果營銷</p>
					<p>一系列效果廣告，全面落實到效果上。</p>
				</div>
				<div class="index-aboutme-box">
					<div class="index-aboutme-iconbox">
						<div class="iconfont icon-xiuggaihoude-close-copy index-aboutme-icon">&#xe60e;</div>
					</div>
					<p>市場研究</p>
					<p>深入了解市場，并有專業團隊針對性研究策劃。</p>
				</div>
			</div> -->
			<div class="index-content-carousel">
				<div class="service swiper-container">
					<a href="#" class="swiper-left-button">
						<div class="iconfont icon-xiuggaihoude-close-copy">&#xe738;</div>
				    </a>
				    <a href="#" class="swiper-right-button">
						<div class="iconfont icon-xiuggaihoude-close-copy">&#xe739;</div>
				    </a>
				    <div class="service-swiper-wrapper swiper-wrapper">
					    <div class="swiper-slide"><img src="<%= require('../assets/images/index-3.png') %>" alt=""></div>
					    <div class="swiper-slide"><img src="<%= require('../assets/images/index-3.png') %>" alt=""></div>
				    </div>
			  	</div>
			</div>
			<div class="index-callme">
				<div class="index-callme-text">
					<p>聯繫我們，提供一站式網絡營銷服務！</p>
					<p>聯繫我們——淺談需求——規劃方案——簽訂合同<br>——支付款項——方案執行——營銷匯報</p>
					<div class="index-callme-btn">
						<a href="#">立刻了解</a>
						<a href="#">聯繫我們</a>
					</div>
				</div>
				<img src="<%= require('../assets/images/index-4.png') %>" alt="">
			</div>
			<div class="index-case">
				<div class="index-case-right-1">
					<p>品牌案例</p>
				</div>
				<div class="index-case-left">
					<div class="index-case-brand">
						<img src="<%= require('../assets/images/index-5.png') %>" alt="">
					</div>
					<div class="index-case-brand">
						<img src="<%= require('../assets/images/index-5.png') %>" alt="">
					</div>
					<div class="index-case-brand">
						<img src="<%= require('../assets/images/index-5.png') %>" alt="">
					</div>
					<div class="index-case-brand">
						<img src="<%= require('../assets/images/index-5.png') %>" alt="">
					</div>
					<div class="index-case-brand">
						<img src="<%= require('../assets/images/index-5.png') %>" alt="">
					</div>
					<div class="index-case-brand">
						<img src="<%= require('../assets/images/index-5.png') %>" alt="">
					</div>
					<div class="index-case-brand">
						<img src="<%= require('../assets/images/index-5.png') %>" alt="">
					</div>
					<div class="index-case-brand">
						<img src="<%= require('../assets/images/index-5.png') %>" alt="">
					</div>
				</div>
				<div class="index-case-right">
					<p>品牌案例</p>
					<p>Some of Clints</p>
				</div>
			</div>
			<div class="index-weblog">
				<p>We Blog Something</p>
				<p>企業資訊</p>
			</div>
			<div class="index-weblog-swiper">
				<div class="index-weblog-swiper-a">
					<a href="" class="index-weblog-swiper-a1">
						<div class="iconfont icon-xiuggaihoude-close-copy">&#xe652;</div>
						<p>上一步</p>
					</a>
					<div class="flex"></div>
					<a href="" class="index-weblog-swiper-a2">
						<p>下一步</p>
						<div class="iconfont icon-xiuggaihoude-close-copy">&#xe654;</div>
					</a>
				</div>
				<div class="index-weblog-swiper-box">
					<div class="company_news swiper-container">
					    <div class="swiper-wrapper">
					      	<div class="swiper-slide">
								<div class="company_news-img">
									<img src="<%= require('../assets/images/index-6.png') %>" alt="">
									<p>簡單，解決方案是它容易！</p>
									<p>團隊是最好的品牌力量，熱烈慶祝項目完成！</p>
								</div>
								<div class="company_news-img">
									<img src="<%= require('../assets/images/index-7.png') %>" alt="">
									<p>我們在浪潮上的日常挑戰！</p>
									<p>公司日常的客戶溝通環節，專業，細緻，耐心，高效。</p>
								</div>
								<div class="company_news-img">
									<img src="<%= require('../assets/images/index-8.png') %>" alt="">
									<p>成功是你的行動！</p>
									<p>為您提供完美的營銷解決方案！</p>
								</div>
					      	</div>
					      	<div class="swiper-slide">
								<div class="company_news-img">
									<img src="<%= require('../assets/images/index-6.png') %>" alt="">
									<p>簡單，解決方案是它容易！</p>
									<p>團隊是最好的品牌力量，熱烈慶祝項目完成！</p>
								</div>
								<div class="company_news-img">
									<img src="<%= require('../assets/images/index-7.png') %>" alt="">
									<p>我們在浪潮上的日常挑戰！</p>
									<p>公司日常的客戶溝通環節，專業，細緻，耐心，高效。</p>
								</div>
								<div class="company_news-img">
									<img src="<%= require('../assets/images/index-8.png') %>" alt="">
									<p>成功是你的行動！</p>
									<p>為您提供完美的營銷解決方案！</p>
								</div>
					      	</div>
					    </div>
    					<!-- Add Pagination -->
    					<!-- <div class="swiper-pagination"></div> -->
  					</div>
  					<div class="company_news-1 swiper-container">
					    <div class="swiper-wrapper">
					      	<div class="swiper-slide">
								<div class="company_news-img-1">
									<img src="<%= require('../assets/images/index-6.png') %>" alt="">
									<p>簡單，解決方案是它容易！</p>
									<p>團隊是最好的品牌力量，熱烈慶祝項目完成！</p>
								</div>
								<div class="company_news-img-1">
									<img src="<%= require('../assets/images/index-7.png') %>" alt="">
									<p>我們在浪潮上的日常挑戰！</p>
									<p>公司日常的客戶溝通環節，專業，細緻，耐心，高效。</p>
								</div>
					      	</div>
					      	<div class="swiper-slide">
								<div class="company_news-img-1">
									<img src="<%= require('../assets/images/index-6.png') %>" alt="">
									<p>簡單，解決方案是它容易！</p>
									<p>團隊是最好的品牌力量，熱烈慶祝項目完成！</p>
								</div>
								<div class="company_news-img-1">
									<img src="<%= require('../assets/images/index-7.png') %>" alt="">
									<p>我們在浪潮上的日常挑戰！</p>
									<p>公司日常的客戶溝通環節，專業，細緻，耐心，高效。</p>
								</div>
					      	</div>
					    </div>
    					<!-- Add Pagination -->
    					<div class="swiper-pagination"></div>
  					</div>
				</div>
			</div>
		</div>
		<div class="index-foot">
			<div class="index-foot-aboutme">
				<div class="index-foot-box-1">
					<div class="index-foot-box-a">
						<p>GTP金時代</p>
						<p>您的網絡營銷顧問。</p>
						<div class="index-foot-box-icon">
							<a href="" class="iconfont icon-xiuggaihoude-close-copy">&#xe6e5;</a>
							<a href="" class="iconfont icon-xiuggaihoude-close-copy">&#xe8a0;</a>
							<a href="" class="iconfont icon-xiuggaihoude-close-copy">&#xe6bd;</a>
							<a href="" class="iconfont icon-xiuggaihoude-close-copy">&#xe656;</a>
							<a href="" class="iconfont icon-xiuggaihoude-close-copy">&#xe610;</a>
						</div>
					</div>
					<div class="index-foot-box-b">
						<div class="index-foot-help-1">
							<p>幫助</p>
							<a href="">關於我們</a>
							<a href="">常見問題解答</a>
						</div>
						<div class="index-foot-help-2">
							<p>聯繫我們</p>
							<p>00000000</p>
							<p>inspo@mahadi</p>
						</div>
					</div>
				</div>
				<div class="index-foot-box-2">
					<p>gtp-Copyright©2019</p>
				</div>
			</div>
			<img src="<%= require('../assets/images/index-bottom.png') %>" alt="">
		</div>
	</div>

	<!-- Code E -->
    
    <%= require('html-loader!./layout/html_footer.ejs') %>

</body>
</html>

